@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --text-primary:  #1A202C;
  --text-secondary: #2D3748;
  --text-tertiary: #4A5568;
  --text-disabled: theme("colors.gray.600");
  --color-primary: theme("colors.indigo.500");
  --color-secondary: theme("colors.purple.500");
}

.theme-dark {
  --bg-background-primary: #1A202C;
  --bg-background-secondary: #1f2735;
  --text-primary:  #F7FAFC;
  --text-secondary: #EDF2F7;
  --text-tertiary: #E2E8F0;
  --text-disabled: theme("colors.gray.600");
  --color-primary: theme("colors.red.500");
  --color-secondary: theme("colors.orange.400");
}

html, body {
  height: 100%;
}